git push origin main
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.venv
env/
venv/
ENV/

# Logs
*.log
*.log.*
debug_output.log
debug_output.txt
output.txt

# PyTorch model files (they are usually large)
*.pt
*.pth

# Training results
runs/
training/

# VS Code
.vscode/

# System
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# Training artifacts
ultralytics/

# Dataset
images/
labels/
*.cache

# IDE
.idea/

yolov5/
test_image/
check_cache/
/draw_image.py
/test.py
/res.jpg
cache.jpg
cache_ch.jpg
edge.jpg
line.jpg
crop.jpg
# Thêm các file chứa API Key vào .gitignore
